body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 4px solid blue;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  padding: 5px 15px;
}

img {
  height: 200px; /* fixed height breaks webpage when shrinking window size */
  width: auto; /*try max-width or max-height*/
}

/* Section One */

.sectionone {
  background-color: #1f2937;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerone {
  width: 75%;
  display: flex;
  align-items: center;
}

.containerone div {
  /* border: 4px solid brown; */
  width: 75%;
}

.logolinks {
  display: flex;
  align-items: center;
  width: 75%;
  height: 2em;
  margin-bottom: 30px;
}
.ulright {
  margin-left: auto;
  display: flex;
  gap: 15px;
  font-size: 18px;
  list-style-type: none;
}

.h1left {
  font-size: 24px;
  color: #f9faf8;
}

.heroh1 {
  font-size: 48px;
  color: #f9faf8;
}

.herop {
  font-size: 18px;
  color: #e5e7eb;
}

/* Section Two */

.sectiontwo {
  margin: 10px 10%;
}

.sectiontwo h1 {
  display: flex;
  justify-content: center;
}

.fourboxcontainer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.dinobox {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}

.dinobox img {
  border-radius: 10px;
}

/* Section Three  */
