body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 70%; */ //i want to shrink the content to 70% width of the webpage and left align header, hero text, call to action
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* width: 70%; */ //this didn't work either
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    /* margin-top: auto; */
    border: 4px solid  blue;
}

.headerlogo {
    display: flex;
    align-items: center;
    /* border: 4px solid  blue; */
    /* height: 50px */  //change the font size instead
}

.ulright {
    margin-left: auto;
    display: flex;
    gap: 15px;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.h1left {
    font-size: 24px;
    color: #f9faf8;
    /* font: 24px #f9faf8; */ //i cant combine size and color into a font shorthand
}

.sectionone, .headerlogo {
    background-color: #1f2937;
}

.heroh1 {
    font-size: 48px;
    color: #f9faf8;
}

.herop {
    font-size: 18px;
    color: #e5e7eb;
}

.sectionone {
    display: flex;
}

img {
    width: 400px;
    height: 300px;
}

.flexcolumnone {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    width: 20%;
}